body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.dark {
  background-color: #333;
  color: white;
}

.toggle-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.toggle-button:hover {
  background-color: #45a049;
}

.filters {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-inputs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-input,
.filter-select {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.fetch-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.fetch-button:hover {
  background-color: #0056b3;
}

.loading-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.chart {
  width: 48%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
